.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    color: #ffffff;
    height: 240px;
}
.content {
    justify-content: space-between;
    padding-left: 60px;
}
.description {
    color: #D1D5DB;
}
.descriptionHeader {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #111111;
}
.badge text {
    align-items: center;
    justify-content: center;
}
.descriptionHeader p {
    padding-left: 8px;
}
.descriptionText {
    display: flex;
    font-size: 13px;
    color: #D1D5DB;
    padding-top: 8px;
    max-width: 360px;
}
.references {
    display: flex;
    flex-direction: row;
    padding-right: 90px;
    font-size: 13px;
    gap: 100px;
    align-items: center;
}
.documentSections {
    display: flex;
    flex-direction: column;
}
.documentSections header {
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    font-size: 12px;
    padding-bottom: 16px;
}
.documentSections section {
    font-weight: 400;
    display: flex;
    color: #D1D5DB;
    padding-bottom: 12px;
}
.resources {
    display: flex;
    flex-direction: column;
}
.resources header {
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    font-size: 12px;
    padding-bottom: 16px;
}
.resources section {
    font-weight: 400;
    display: flex;
    color: #D1D5DB;
    padding-bottom: 12px;
}